.soft-border{
    border: 5px solid lightblue;
    margin: 5px;
    padding: 10px;
}

.page-title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 20px;
}